<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>JunOS automate{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{% if request.path == '/'%} <b>JunOS Automate</b>{% else %} JunOS Automate {% endif %}</a>
        <a class="navbar-brand" href="/device">{% if request.path == '/device'%} <b>Device</b>{% else %} Device {% endif %}</a>
        {% if session['device'] %}<a class="navbar-brand" href="/bgp">{% if request.path == '/bgp'%} <b>BGP</b>{% else %} BGP {% endif %}</a>{% endif %}
        {% if session['device'] %}<a class="navbar-brand" href="/hostname">{% if request.path == '/hostname'%} <b>hostname</b>{% else %} hostname {% endif %}</a>{% endif %}
        {% if session['device'] %}<a class="navbar-brand" href="/commander">{% if request.path == '/commander'%} <b>commander</b>{% else %} commander {% endif %}</a>{% endif %}
        {% if session['device'] %}<a class="navbar-brand" href="/show">{% if request.path == '/show'%} <b>show output</b>{% else %} show output {% endif %}</a>{% endif %}
        <div class="nav-collapse">
          {% block navbar_right %}
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}
    <div class="container page">
        <div class="content">
          {% if not session['device'] %}
          <font color="red">Device is not set! Please select a device to begin using tool.</font>
          {% else %}
          active device: <b>{{ session['device'] }}</b> <a href="/clear">clear </a>
          {% endif %}
          {% block body %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; Dan Lindow</p>
        </footer>
        {% endblock %}
    </div>

    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>