<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
<html lang="en">
<body>
    <h2>provision new BGP peer</h2>
    <form action="bgp" method="POST">
        Peer IP  :<input type="text" name="bgp_peer_ipv4"><br>
        Peer ASN :<input type="text" name="bgp_peer_asn"><br>
        <input type="submit" name="submit" value="submit">
    </form>
    <br>
    <h2>Current peers:</h2><br>
    <table border="1">
    <th>Peer IP</th>
    <th>Peer status</th>
    {% for key, value in bgp_peers.iteritems() %}
	<tr>
		<td>{{ key.split('+')[0] }} </td>
		<td>{{ value }} </td>
	</tr>
	{% endfor %}
	</table>
    <br>
	<form action="bgp" method="POST">
		peer ip to delete: <input type="text" name="bgp_peer_ipv4"><br>
        <input type="submit" name="delete" value="delete">
    </form>
</body>
</html>
{% endblock %}